<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/ico-apimeter.png}" type="image/icon type">
    <title th:text="${title}"></title>

    <link th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{/webjars/font-awesome/5.15.3/css/all.css}" th:rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/1.10.1/jquery.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="container">

    <div class="row mt-4 mb-1">
        <div class="col">
            <h5 th:text="${title} + ': ' + ${plan.id}"></h5>
        </div>
        <div class="col text-end">
            <a th:href="@{/plans}">
                <i class="fas fa-chevron-left"></i> Back
            </a>
        </div>
    </div>
    <hr>
    <div class="card mt-4">
        <div class="card-body">
            <form METHOD="post" th:action="@{/plans/createOrUpdate}" th:object="${plan}">
                <input type="hidden" class="form-control" placeholder="Plan ID" th:field="*{id}">
                <div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Http Method</label>
                                <select th:field="*{method}" class="form-select" aria-label="Default select example"
                                        required>
                                    <option value="GET" class="text-success">GET</option>
                                    <option value="POST" disabled>POST</option>
                                    <option value="PUT" disabled>PUT</option>
                                    <option value="PATCH" disabled>PATCH</option>
                                    <option value="DELETE" disabled>DELETE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="mb-3">
                                <label class="form-label">Plan Name</label>
                                <input type="text" class="form-control" placeholder="Plan Name"
                                       th:field="*{planName}"
                                       required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Number of Threads</label>
                                <input type="number" class="form-control" placeholder="Number of Threads"
                                       th:field="*{numberOfThreads}" required min="1" max="50000">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">URL</label>
                        <input type="text" class="form-control" placeholder="http:// or https://" th:field="*{url}"
                               required>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Req Header</label>
                                <textarea class="form-control" rows="6"
                                          th:placeholder="${placeholderReqHeader}"
                                          th:field="*{requestHeader}"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Req Body</label>
                                <textarea class="form-control" rows="6"
                                          th:placeholder="${placeholderReqBody}" th:field="*{requestBody}"></textarea>
                            </div>
                        </div>
                    </div>

                    <div th:if="${isSubmit}" class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>