<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/ico-apimeter.png}" type="image/icon type">
    <title th:text="${title}"></title>

    <link th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{/webjars/font-awesome/5.15.3/css/all.css}" th:rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/1.10.1/jquery.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="container">

    <div class="row mt-4 mb-1">
        <div class="col">
            <h5 th:text="${title}"></h5>
        </div>
        <div class="col text-end">
            <a th:href="@{/plans/create}">
                <i class="fas fa-plus"></i> Add Test Plan
            </a>
        </div>
    </div>
    <hr>
    <div class="card mt-4">
        <div class="card-body">
            <table class="table mt-2">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Method</th>
                    <th>createdAt</th>
                    <th>Name</th>
                    <th>Threads</th>
                    <th class="text-end">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="plan, iteration : ${plans}">
                    <td th:text="${plan.id}"></td>
                    <td th:text="${plan.method}"></td>
                    <td th:text="${plan.createdAt}"></td>
                    <td th:text="${plan.planName}"></td>
                    <td th:text="${plan.numberOfThreads}"></td>
                    <td class="text-end">
                        <a th:href="@{'/plans/' + ${plan.id} + '/delete'}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a th:href="@{'/plans/' + ${plan.id} + '/edit'}" class="btn btn-primary btn-sm">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a th:href="@{'/plans/' + ${plan.id} + '/threads'}" class="btn btn-success btn-sm">
                            <i class="fas fa-play"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>